@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<body>
    <div id="map"></div>

    <script src="~/js/map.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyDaoLdV31Y5ls8ABBpuAQt9t8RzMDfOMiM"></script>

</body>
</html>